* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: georgia;
  scroll-behavior: smooth;

}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: black;
  font-weight: 20px;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 h2 {
  font-family: helvetica;
  padding: 30px;
  text-align: left;
  font-size: 20px;
  margin-top: -850px;
}

.section-m1 {
  margin: 30px 0;
}


button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  font-size: 19px;
  font-weight: 300px;
}

#header .fa-solid.fa-dollar-sign {
  color: green;
}

.emoji i {
  margin-right: 20px;
  color: black;
}

.emoji i:hover {
  color: violet;
}

#navbar {
  padding: 15px;
  background-color: white;
  border: 1px solidhsl(74, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
  align-items: right;
  position: sticky;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  width: 15px;
  height: 15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: hsl(74, 100%, 50%);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}


.discount-banner {
  background-color: hsl(74, 100%, 50%);
  color: #fff;
  display: flex;
  justify-content: left;
  text-align: left;
  position: relative;
  width: 140%;
  padding: 3px 30px 3px 30px;
  animation: slideLeft 20s infinite linear;
  white-space: nowrap;
  overflow: show;
  position: relative;
}

.discount-banner .content {
  margin: 0 auto;
  padding: 0;
  width: 100%;

}

.discount-banner p {
  margin: 0;
  text-align: left;
  letter-spacing: 1;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #222;
  font-size: 24px;
}

#hero {
  background-image: url('images/spilll copyblurblur.jpg');
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 50% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: Arial, sans-serif;
}

#hero h4 {
  padding-bottom: 15px;
  text-align: center;
  margin-left: 5px;
  position: relative;
  left: -100%;
}

#hero h2 {
  font-size: 100px;
  font-weight: 400px;
  color: hsl(74, 100%, 50%);
  position: relative;
  left: -100%;
  margin: 20px 0;
}

#hero h1 {
  font: 70px;
  font-family: Georgia, sans-serif;
  color: #b4e802;
  display: flex;
  margin-left: 100px;
  position: relative;
  left: -100%;

}

#hero p {
  font-size: 20px;
  margin-left: 75px;
  position: relative;
  left: -100%;
  color: black;
}

#hero button:hover,
#hero h4:hover,
#hero h2:hover,
#hero h1:hover,
#hero p:hover {
  transform: scale(1.1);
}

#hero button {
  border: 0;
  font-size: 20px;
  font-weight: 700;
  border-radius: 0px;
  margin-left: 500px;
  padding: 10px 25px 10px 20px;
  background-color: hsl(74, 100%, 50%);
  color: white;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: flashBackground 7s infinite;
}

@keyframes flashBackground {

  0%,
  100% {
    background-color: hsl(74, 100%, 50%);
  }

  50% {
    background-color: violet;
    /* Change to the desired flash color */
  }
}

#hero button:hover {
  background-color: white;
}

#features {
  margin: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
}

#features .fe-box {
  margin-bottom: 15px;
  width: 250px;
  padding: 12px;
  min-width: 0;
  border: 1px solid #cce7d0;
  border-radius: 0px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  position: relative;

}

#features .fe-box:hover {

  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#features .fe-box h6 {
  padding: 3px 8px 6px 8px;
  border-radius: 4px;
  color: black;
}



#features .fe-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#features .fe-box img {
  width: 160px;
  height: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-left: 30px;
}

#features .fe-box button {
  padding: 5px;
  margin: 2px;
  background-color: white;
  color: black;
  margin-left: 140px;
  border: 1px solid black;

}

#features .fe-box button:hover {
  background-color: magenta;
  cursor: pointer;
}

.community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 1px solid rgb(176, 176, 249);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center top;
  /* Move the image slightly down */
  position: sticky;
  margin: 40px auto;
  background-image: url('images/Group 12.png');
  background-repeat: repeat-x;
  background-size: 100%;
}

.community h2 {
  color: violet;
  animation: flash 6s infinite;
  margin-left: 20px;
}

@keyframes flash {

  0%,
  100% {
    color: violet;
  }

  50% {
    color: white;
    /* Change to the desired flash color */
  }
}

.community h2:hover {
  color: black;
}

.community img {
  max-width: 50%;
  display: none;
}


#product1 .pro-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 -50px;

}

#product1 .pro {
  margin-bottom: 15px;
  width: 250px;
  padding: 12px;
  min-width: 0;
  border: 1px solid #cce7d0;
  border-radius: 0px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  max-width: 100%;
  border-radius: 0px;

}

#product1 .pro .des {
  text-align: left;
  padding: 15px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 20px;
  font-weight: 300;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 500;
}

#product1 .pro .des h4 {
  padding-top: 10px;
  font-size: 15px;
  color: #b4e802 ;
  font-weight: 500;
}

#product1 .pro .des i {
  color: goldenrod;
  margin-top: 14px;
}

#product1 .pro .des a i {
  color: black;
  display: inline-block;
  font-size: 18px;
  float: right;
  margin-left: 0;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -2px;
}

#product1 .pro .des a i:hover {
  color: violet;
}



#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('/images/sunscreen.png');
  background-position: cover;
  border: 1px solid rgb(0, 0, 0.9);
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  position: sticky;
}

#banner h2 {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
  font-size: 65px ! important;
  font-style: italic;

}

#banner button {
  background-color: #b4e802;
  padding: 10px;
  margin: 7px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  border: 1px solid greenyellow;
  margin-top: 30px;
}

#banner button:hover {
  background: violet;
  color: #fff;
}

.last {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

.last .fe-box:hover {

  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.last .fe-box {
  width: 250px;
  padding: 15px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: .5px solid lightgray;
  border-radius: 4px;
}

.last .fe-box i {
  margin-left: 200px;
  color: black;
}

.last .fe-box i:hover {
  color: violet;
}

.last .fe-box img {
  max-width: 100%;
  margin-left: 5px;
}

.returnbanner {
  margin-bottom: -30px;
  margin-left: -20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background-color: #e6e6e6;

}

.returnbanner:hover {
  color: violet;
}

.returnbanner h5 i {
  margin-right: 5px;
  color: red;
}

.returnbanner h5 i:hover {
  color: violet;
}

.fa-brands.fa-cc-mastercard {
  background: linear-gradient(to right, yellow 50%, red 50%);
  -webkit-background-clip: text;
  color: transparent;
}

.fa-brands.fa-cc-mastercard:hover {
  color: violet;
}

.fa-brands.fa-cc-visa {
  background: linear-gradient(to right, blue 50%, yellow 50%);
  -webkit-background-clip: text;
  color: transparent;
}

.fa-brands.fa-cc-visa:hover {
  color: violet;
}

.fa-brands.fa-paypal {
  background: linear-gradient(to right, lightblue 50%, darkblue 50%);
  -webkit-background-clip: text;
  color: transparent;
}

.fa-brands.fa-paypal:hover {
  color: violet;
}


#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  align-items: center;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 20% 30%;
}


#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-left: 40px;
}


#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
  margin-left: 40px;
}

#newsletter p span {}

#newsletter .form {
  display: flex;
  width: 40%;
  margin-left: -30px;
  position: sticky;

}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  margin-left: -200px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: sticky;
}

#newsletter button {
  background-color: #b4e802 color: black;
  white-space: nowrap;
  width: 30%;
  margin: -1px;
  padding: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter button:hover {
  color: violet;
}

.smbanner {
  margin-top: -30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #e6e6e6;
  text-align: left;
}


.smbanner img {
  width: 20px;
  height: 20px;
  margin-left: -20px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: -40px;
}

@keyframes slideLeft {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

/*
@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }
} */
